/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  height: 200px;
}

ul {
  margin-top: 24px;
  margin-bottom: 24px;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1128px;

}

.gallery-item {
  display: inline-block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    z-index 0s;
}

.gallery-item:hover,
.gallery-item:focus {

  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.modal img {
  width: 1112px;
  height: 640px;
}